<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Special+Elite&display=swap" rel="stylesheet">
<title>AI Planner</title>
</head>

<body>

<div class="badge"><div class="pulse-dot"></div>&nbsp;Time<span>IT&nbsp;</span> App</div>

<h1><span class="ai">AI</span> Daily Planner</h1>

<hr class="line">

<p class="subtitle">
AI-powered daily planning in seconds.<br>
Turn your <span class="messy">messy</span> thoughts into a perfectly structured day.
</p>

<hr class="line small">

<div class="form-container">
    <form method="post">

        <textarea name="tasks"
        placeholder="What do you want to do today?

Example: 'feeling low energy today, I just want to revise one chapter...maybe meet a friend and go for a walk and read a bit at night'"></textarea>

<button type="submit" onclick="this.innerText='GENERATING...';">
            GENERATE
        </button>

    </form>
</div>

{% if schedule %}    
<div class="output">
    <pre>{{ schedule }}</pre>
</div>
{% endif %}

<hr class="line">
<h3 id="how-it">HOW IT WORKS?</h3>
<div class="container">
    <div class="box box1">01 <br><h4 id="step-text">Just babble out your tasks, plans, or even messy ideas about your day.</h4></div>
    <div class="box box2">02 <br><h4 id="step-text">The AI understands your input and builds a smart, balanced schedule.</h4></div>
    <div class="box box3">03 <br><h4 id="step-text">Receive a clear, structured plan optimized for productivity and ease.</h4></div>
</div>
<hr class="line small">


<div class="footer">
    Made by a solo DEV ⚡ |
    <a href="mailto:sourajyotidey2008@gmail.com">Contact Me</a>
</div>

</body>
</html>
